<div class="cointainer">
  <h2 class="mb-4">Latest sales</h2>

  <ul class="list-group">
    <% @last_sales.each do |sale| %>
      <li class="list-group-item">
        <strong>Name: </strong><%= sale.pokemon.name %>
        <strong>Value: </strong><%= sale.pokemon.base_experience %>
        <strong>From: </strong><%= sale.from_user_id %>
        <strong>To: </strong><%= sale.to_user_id %>
      </li>
    <% end %>
  </ul>
</div>
