<div class="cointainer d-flex flex-wrap align-items-center justify-content-center m-5">
  <div class="col-8">
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
      <%= render "satoshi_to_usd", last_sat_usd: @last_sat_usd, total_wallet_value: @total_wallet_value %>
      <%= render "last_rates", last_rates: @last_rates %>
      <%= render "offers_list", offers: @last_offers %>
      <%= render "sales_list", sales: @last_sales %>
    </div>
  </div>
</div>
