<div class="col">
  <div class="card h-100">
    <%= image_tag pokemon.sprite_url, class: "card-img-top", alt: "Pokemon front picture" %>

    <div class="card-body">
      <p class="card-text">
        <strong>Base experience:</strong>
        <%= pokemon.base_experience %>
      </p>
    </div>

    <div class="card-footer">
      <%= button_to 'Put for sale', sales_create_path(pokemon_id: pokemon.id), method: :post, class: "btn btn-outline-primary w-100" %>
    </div>
  </div>
</div>
