<div class="alert-wrapper">
  <div class="alert <%= 'alert-danger' if alert %> <%= 'alert-primary' if notice %> alert-dismissible alert__stick-top fade show m-4" role="alert">
    <%= alert || notice %>

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
